@using Microsoft.AspNetCore.Identity
@model WebService.Models.ViewModels.ChangeRoleViewModel

<h2>Изменение ролей для пользователя @Model.UserName</h2>

<div class="container row-cols-lg-3 row-cols-1 d-flex justify-content-center">
    <form asp-action="ChangeRoles" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            @foreach (IdentityRole<int> role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name!) ? "checked=\"checked\"" : "") /> @role.Name <br />
            }
        </div>
        <br />
        <button type="submit" class="btn btn-secondary">Сохранить</button>
    </form>
</div>