@using WebService.Models.ViewModels.Account
@model RegisterViewModel

<style>
    .form-floating-group input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #togglePasswordRegister, #togglePasswordRegisterConf {
        cursor: pointer;
    }
</style>

<form class="registrForm d-flex flex-column gap-2 needs-validation" novalidate method="post" asp-controller="Account" asp-action="Register">
    <legend>Впервые здесь?</legend>
    <div class="form-floating">
        <input asp-for="UserName" class="form-control" placeholder="Введите логин" id="floatingInputUserNameRegister" required />
        <label for="floatingInputUserNameRegister" class="control-label">@Html.DisplayNameFor(modelItem => Model.UserName)</label>
        <div class="invalid-feedback">
            Введите логин
        </div>
    </div>
    <div class="form-floating">
        <input asp-for="SurName" class="form-control" placeholder="Введите фамилию" id="floatingInputSurName" required />
        <label for="floatingInputSurName" class="control-label">@Html.DisplayNameFor(modelItem => Model.SurName)</label>
        <div class="invalid-feedback">
            Введите фамилию
        </div>
    </div>
    <div class="form-floating">
        <input asp-for="Name" class="form-control" placeholder="Введите имя" id="floatingInputName" required />
        <label for="floatingInputName" class="control-label">@Html.DisplayNameFor(modelItem => Model.Name)</label>
        <div class="invalid-feedback">
            Введите имя
        </div>
    </div>
    <div class="form-floating">
        <input asp-for="MiddleName" class="form-control" placeholder="Введите отчество" id="floatingInputMiddleName" required />
        <label for="floatingInputMiddleName" class="control-label">@Html.DisplayNameFor(modelItem => Model.MiddleName)</label>
        <div class="invalid-feedback">
            Введите отчество
        </div>
    </div>
    <div class="form-floating">
        <input asp-for="PhoneNumber" id="phone" class="form-control" placeholder="Введите номер телефона" id="floatingInputPhoneNumber" required />
        <label for="floatingInputPhoneNumber" class="control-label">@Html.DisplayNameFor(modelItem => Model.PhoneNumber)</label>
        <div class="invalid-feedback">
            Введите номер телефона
        </div>
    </div>
    <div class="input-group">
        <div class="form-floating form-floating-group flex-grow-1">
            <input asp-for="Password" class="form-control" placeholder="Введите пароль" id="floatingInputPasswordRegister" required />
            <label for="floatingInputPasswordRegister" class="control-label">@Html.DisplayNameFor(modelItem => Model.Password)</label>
            <div class="invalid-feedback">
                Введите пароль
            </div>
        </div>
        <span class="input-group-text">
            <i class="bi bi-eye-slash" id="togglePasswordRegister"></i>
        </span>
    </div>
    <div class="input-group">
        <div class="form-floating form-floating-group flex-grow-1">
            <input asp-for="PasswordConfirm" class="form-control" placeholder="Подтвердите пароль" id="floatingInputPasswordRegisterConf" required />
            <label for="floatingInputPasswordRegisterConf" class="control-label">@Html.DisplayNameFor(modelItem => Model.PasswordConfirm)</label>
            <div class="invalid-feedback">
                Подтвердите пароль
            </div>
        </div>
        <span class="input-group-text">
            <i class="bi bi-eye-slash" id="togglePasswordRegisterConf"></i>
        </span>
    </div>
    <div>
        <input class="btn btn-primary btn mt-2" type="submit" value="Регистрация" />
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>

<script>
    const togglePassword1 = document.querySelector("#togglePasswordRegister");
    const togglePassword2 = document.querySelector("#togglePasswordRegisterConf");
    const password1 = document.querySelector("#floatingInputPasswordRegister");
    const password2 = document.querySelector("#floatingInputPasswordRegisterConf");

    togglePassword1.addEventListener("click", function() {
        // toggle the type attribute
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });
    togglePassword2.addEventListener("click", function() {
        // toggle the type attribute
        const type = password2.getAttribute("type") === "password" ? "text" : "password";
        password2.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    jQuery(function($) {
        $(function() {
            function maskPhone() {
                $("#phone").mask("+375(99) 999-99-99");
            }
            maskPhone();
        });
    });
</script>