@model WebService.Models.ViewModels.User.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<style>
    .form-floating-group input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #togglePasswordCreate {
        cursor: pointer;
    }
</style>

<h2></h2>

<a href="javascript:history.go(-1)"
   class="btn btn-outline-dark">
    Вернуться
</a>

<h1>Создание</h1>

<h4>Пользователь</h4>
<hr />

<div class="container row-cols-lg-3 row-cols-1 d-flex justify-content-center">
    <form class="createUserForm d-flex flex-column gap-2" method="post" asp-controller="Users" asp-action="Create">
        <div class="form-floating">
            <input asp-for="UserName" class="form-control" placeholder="Введите логин" id="floatingInputUserNameCreate" />
            <label for="floatingInputUserNameCreate" class="control-label">@Html.DisplayNameFor(modelItem => Model.UserName)</label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating">
            <input asp-for="SurName" class="form-control" placeholder="Введите фамилию" id="floatingInputSurName" />
            <label for="floatingInputSurName" class="control-label">@Html.DisplayNameFor(modelItem => Model.SurName)</label>
            <span class="text-danger" asp-validation-for="SurName"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Name" class="form-control" placeholder="Введите имя" id="floatingInputName" />
            <label for="floatingInputName" class="control-label">@Html.DisplayNameFor(modelItem => Model.Name)</label>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-floating">
            <input asp-for="MiddleName" class="form-control" placeholder="Введите отчество" id="floatingInputMiddleName" />
            <label for="floatingInputMiddleName" class="control-label">@Html.DisplayNameFor(modelItem => Model.MiddleName)</label>
            <span class="text-danger" asp-validation-for="MiddleName"></span>
        </div>
        <div class="form-floating">
            <input asp-for="PhoneNumber" сlass="form-control" placeholder="Введите номер телефона" id="floatingInputPhoneNumber" />
            <label for="floatingInputPhoneNumber" class="control-label">@Html.DisplayNameFor(modelItem => Model.PhoneNumber)</label>
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="input-group">
            <div class="form-floating form-floating-group flex-grow-1">
                <input asp-for="Password" class="form-control" placeholder="Введите пароль" id="floatingInputPasswordCreate" />
                <label for="floatingInputPasswordCreate" class="control-label">@Html.DisplayNameFor(modelItem => Model.Password)</label>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <span class="input-group-text">
                <i class="bi bi-eye-slash" id="togglePasswordCreate"></i>
            </span>
        </div>
        <div>
            <input class="btn btn-primary btn mt-2" type="submit" value="Добавить" />
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>

<script>
    const togglePassword1 = document.querySelector("#togglePasswordCreate");
    const password1 = document.querySelector("#floatingInputPasswordCreate");

    togglePassword1.addEventListener("click", function () {
        // toggle the type attribute
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    jQuery(function ($) {
        $(function () {
            function maskPhone() {
                $("#floatingInputPhoneNumber").mask("+375(99) 999-99-99");
            }
            maskPhone();
        });
    });
</script>
