@model IEnumerable<WebService.Models.ViewModels.User.UserViewModel>
@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

@if (User.IsInRole("admin"))
{
    <a class="btn btn-dark" asp-action="Create"><i class="bi-journal-plus"></i> Добавить пользователя</a>
}

<h2></h2>

<div class="position-relative d-flex flex-nowrap justify-content-center">
    <div class="accordion col-10" id="accordionPanelsStayOpenExample">
        @foreach (var item in Model.GroupBy(_ => _.SurName[0]).OrderBy(_ => _.Key))
        {
            @if (item != null)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading-@item.Key">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@item.Key" aria-expanded="true" aria-controls="panelsStayOpen-collapse-@item.Key">
                            @item.Key
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse-@item.Key" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@item.Key">
                        <div class="accordion-body">
                            <div class="list-group list-group-horizontal flex-wrap">
                                @foreach (var user in item)
                                {@if (user != null)
                                    {
                                        <a class="btn btn-outline-dark list-group-item d-flex flex-column align-items-center" asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id" style="width:250px;">
                                            <strong>@user.SurName @user.Name @user.MiddleName</strong>
                                            @if (user.RepairGroups != null && user.RepairGroups.Count() > 0)
                                            {
                                                <div>
                                                    @foreach (var itemUser in user.RepairGroups)
                                                    {
                                                        <span class="badge bg-info rounded-pill text-dark">
                                                            @Html.DisplayFor(modelItem => itemUser.Name)
                                                        </span>
                                                    }
                                                </div>
                                            }
                                            <u>@Html.DisplayFor(modelItem => user!.PhoneNumber)</u>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>